<% layout('layouts/boilerplate') -%> 
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
   Rem exercitationem ab mollitia architecto nostrum illo aspernatur, ipsa enim culpa minus dolore.
   Ex culpa saepe maiores asperiores magni? Veritatis, illo nulla!</p>