<% layout('layouts/boilerplate') -%> 
<div class="row">
    <h1 class="text-centre"> New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="invalid-feedback">
                    Enter a valid Title
                  </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control"  type="text" id="location" name="campground[location]" required>
                <div class="invalid-feedback">
                    Enter a valid Location
                  </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url</label>
                <input class="form-control"  type="text" id="image" name="campground[image]" required>
                <div class="invalid-feedback">
                    Enter an Image URL
                  </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control"  type="text" id="description" name="campground[description]" required></textarea>
                <div class="invalid-feedback">
                    Enter a Description
                  </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" id="price" class="form-control" placeholder="0" name="campground[price]" aria-label="Amount (to the nearest dollar)" required>
                    <span class="input-group-text">.00</span>
                  </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
            
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>

